@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display';
    src:    url('/src/assets/fonts/SF-Pro.ttf') format('truetype'), 
    url('/src/assets/fonts/SF-Pro-Italic.ttf') format('truetype');


    font-weight: normal;
    font-style: normal;

    

}

*{
    font-family: 'SF Pro Display', sans-serif;
}